@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.neon-blue {
  box-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f, 0 0 80px #00f;
  background-color: #00f;
}

.low {
  background-color: red;
}

.high {
  background-color: #00f;
}

.sensor-dashboard {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.sensor-container {
  display: flex;
  justify-content: space-between;
}

.line-tracking, .ultrasonic-distance {
  margin: 0 20px;
}

h2 {
  margin-bottom: 20px;
}

strong {
  display: block;
  margin-bottom: 10px;
}
