@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */

.neon-blue {
    box-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f, 0 0 80px #00f;
    background-color: #00f;
  }
  
  .low {
    background-color: red;
  }
  
  .high {
    background-color: #00f;
  }
  

